@mixin bullets-css-grid($column-min, $column-max, $row-min, $row-max, $grid-gap) {
    width: 100%;

    // ul stuff
    padding: 0;
    margin: 0;
    list-style: none;

    display: grid;
    grid-gap: $grid-gap/2;
    grid-template-columns: repeat(auto-fill, minmax($column-min, $column-max));
    grid-auto-rows: minmax($row-min, $row-max);
} // end mixin