@mixin bullets-colour {
    .u-primary {
    	color: $primary;
    }

    .u-secondary {
    	color: $secondary;	
    }

    .u-background-primary {
    	background-color: $primary;
    }

    .u-background-secondary {
    	background-color: $secondary;	
    }
}